/* *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;

}
nav{
    background-color: blue;
    height: 80px;
    width: 100%;
}

label.logo{
    color: rgb(239, 255, 16);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(189, 19, 124);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active ,a:hover{
    background-color: aquamarine;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }

}

@media (max-width: 858px){
    .checkbtn{
        display: none;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: blueviolet;
        top: 80px;
        left:-100%;
        text-align: center;
        transition:  all .5s;

    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;

    }
    a:hover, a.active{
        background: none;
        color: rgb(226, 0, 0);
    }
    #checked:checked ~ ul{
        left:0;
    }
} */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); 
@import url("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  background: #171c24;
  position: fixed;
  width: 100%;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #062663;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}




.wrapper input[type="checkbox"]{
  display: none;
}
/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}
@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}
@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}
.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font: 24px;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .about-section {
    padding: 15vh;
    text-align: center;
    background-color: #04173f;
    color: white;
  }

  .about-section h1{
      text-decoration: underline;
      color: white;
  }

  p{
      padding-top: 4%;
      
  }

  .image-background {
    height: 10%;
    min-height: 500px;
    background-image: url("https://static.bangkokpost.com/media/content/20210420/c1_2102643.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }



  /* *, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
    /* background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 100%, rgba(12,11,142,1) 100%);
  }
  
   button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 5%;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  /* .screen-header-button.close {
    background: #00a336;
    bottom: 10px;
    
  } */
  
  .screen-header-button.maximize {
    background: #ecc100;
  }
  
  .screen-header-button.minimize {
    background: #ff0000;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: rgb(255, 255, 255);
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #9bf30e;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  
  
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }



  .grid-container{
    display: grid;
    justify-content: center;
    padding-top: 2%;
    background-color: rgb(15, 0, 146);
    color: white ;

    
}
.grid-container h1{
    color: white;
}


#slider{
    margin-top: 2%;
}
.img-area{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.img-area img{
    width: 100%;
}
.content2{
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: white;
}
td{
    text-align: center;
}
th{
    text-align: center;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }

.table{
    color: white;
    background-color: rgb(56, 89, 233);
}

.conten2t h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    /* margin-bottom: 0px; */
}

.content2 p{
    line-height: 1.9;

} 

.content-area{
    height: 20%;
    
}



.content-area{
    display: grid;
}

@media only screen and (min-width: 768px) {
    iframe{
      height: 19em;
    }
    .card{
      width: 30%;
    }
  }


@media only screen and (max-width: 768px) {
    iframe{
      height: 13em;
    }
    .card{
      width: 20%;
    }
  }  

.card2{
      height: 1em;
  }
.container2{
    background-color: white;
    color: black;
    height: 30em;
}



.container4{
    color: white;
}
.container4 h1{
    text-align: center;
    color: white;

}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  /* .table2 h1{
      text-align: center;


  }
  */
  .container5{
      color: black;
      background: #171c24;
      text-align: center;
  }
  
  .container5 h1{
      color: white;
  }
  /* general styling
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  } */



  .col2 {
    text-align: center;
    /* background: #DAB783;
    border-radius: 10px; */
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 70px;
    height: 70px;


}

.container6 h1{
    width: 300px;
    padding-top: 20px;
    color: white;
    text-align: center;
    text-decoration: underline;
    padding-left: 170%;

}



.container7 {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */

}

.quote {
    /* padding: 2em; */

    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 5px 32px 10px 32px;
    border: 2px solid #3437F1;
    background: #FFFFFF;
    box-sizing: border-box;
    /* basic shadow */

    box-shadow: 0px 7px 14px #D3DAE2;
    border-radius: 25px;

}

p {
    margin-top: 0;
    font-family: 'Biryani', sans-serif;

    
}



h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 160%;
    /* or 51px */

    letter-spacing: 0.14px;
    padding-top: 8px;
    color: #000000;
}

h6 {
    font-family: 'Biryani', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 160%;
    /* identical to box height, or 26px */

    letter-spacing: 0.14px;

    color: #534d4d;
}

.sae{
   width: 100px;
}

.seds{
    width: 150px;
    padding-top: 20px;
}
.bits{
    width: 60px;
    padding-top: 10px;
}
.rank{
    width: 70px;
    float:right;
    padding-top: 15px;        
    

}

@media (min-width: 850px) {
    .container7 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    .container7 {
        grid-template-columns: repeat(1, 1fr);
    }
}


